
    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: "onest", sans-serif;
      background: #F7F5EF;
      color: #272727;

    }
    .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #496141; /* Green background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  .preloader-text {
    color: #F7F5EF; 
    font-size: 50px; 
    font-weight: bold; 
    margin-top: 20px;
    
  }

  .content {
    display: none; /* Hide the content initially */
  }
    .surname {
      color: #000000;
      font-family: "onest", sans-serif;
      font-weight: bold;
    }

    header, .first-block, .second-block, .third-block,.forth-block,.fifth-block,.sixth-block,.seventh-block,.eight-block,.nine-block, .ending {
      padding-left: 10px;
      padding-right: 10px;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #F7F5EF;
      background-origin: border-box;
      margin-top: 20px;
    }
    .navbar-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: #CACCB6;
      position: fixed;
      right: 5px;
      top: 25px;
      z-index: 200;
    }
    .navbar-icon {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      margin-inline: 12px;
      transform: rotate(0deg);
      transition: 1s;
    }


    .first-block {
      background-color: #F7F5EF;
      background-origin: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar-side {
      display: none;
      flex-direction: column;
      justify-content: baseline;
      text-align: left;
      background-color: #CACCB6;
      position: fixed;
      padding-top: 50px;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    .navbar-side-active {
      display: flex;
    }
    .navbar-icon-active {
      display: none;
    }
    .navbar-x-active {
      display: flex;
    }
    ul {
      list-style: none;
    }
    .navbar-side li {
      margin-left: 10px;
      color: #272727;
      font-size: 30px;
      font-weight: bold;
      text-indent: 40px;
      margin-top: 5px;
    }
    .navbar-x {
      display: none;
      font-weight: bold;
      font-size: 20px;
    }
    .active-x {
      display: block;
    }
    .book-in {
      margin-top: 20px;
      margin-left: 40px;
      width: 193px;
      height: 57px;
      border-radius: 30px;
      background-color: #496141;
      color: #F7F5EF;
      font-size: 18px;
      font-weight: 500;
      border: none;
    }

    h1 {
      margin-top: 50px;
      text-align: center;
      font-size: 34px;
      color: #272727;
    }
    .underh1 {
      margin-top: 10px;
      text-align: center;
    }
    .animation-ideas {
      display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    width: 350px;
    height: 600px;
    }
    .idea {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-family: "onest", sans-serif;

  }
  .alone {
  width: 125px;
  height: 52px;
  background-color: #F2E0CF;
  color: #6C3B0D;
  transform: rotate(-40deg);
  position: absolute;
  top: 0px;
}
.ball11 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 35px;
  right: 95px;
}
.ideal {
  width: 326px;
  height: 52px;
  background-color: #DDCFBB;
  color: #6C3B0D;
  transform: rotate(9.5deg);
  position: absolute;
  top: 90px;
}
.ball22 {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 220px;
  top: 140px;

}
.looser {
  width: 366px;
  height: 52px;
  background-color: #D1D3B9;
  color: #394B33;
  transform: rotate(-8deg);
  position: absolute;
  top: 200px;

}
.ball33 {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 200px;
  top: 270px;
}
.unloved {
  width: 210px;
  height: 52px;
  background-color: #F2E0CF;
  color: #6C3B0D;
  transform: rotate(-18.5deg);
  position: absolute;
  right: 0px;
  top: 290px;
}
.ball44 {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 10px;
  top: 340px;
}
.unhappy {
  width: 385px;
  height: 52px;
  background-color: #DDCFBB;
  color: #6C3B0D;
  transform: rotate(24deg);
  position: absolute;
  top: 390px;
}
.ball55 {
  position: absolute;
  width: 90px;
  height: 90px;
  right: 260px;
  top: 400px;
}
h2, .h2andphoto, .underh2text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  
}
.h2photo {
  width: 155px;
  height: 191px;
  object-fit: cover;
  object-position: 50%;
  border-radius: 25px;
  margin-top: -20px;
}
.underh2text {
  margin-top: 20px;
  gap: 10px;
  text-align: center;
}
.edu-heading {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-top: 70px;
  padding-left: 20px;
}
.edu-ball {
  width: 60px;
  height: 60px;
  position: relative;
  top: 20px;
}
.h2-edu {
  font-size: 32px;
  font-family: "onest", sans-serif;
  margin-left: 10px;
}

.second-block,.third-block,.forth-block,.fifth-block,.sixth-block,.seventh-block,.eight-block,.nine-block {
  background: #ECE8DE;
  background-origin: border-box;
}
.third-block,.seventh-block {
  height: 1000px;
}
.forth-block {
  padding-top: 150px;
}

.fifth-block {
  padding-top: 150px;
  height: 1800px;
}
.sixth-block {
  padding-top: 1000px;
  height: 1400px;
}

.edustep1 {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
}

.edu-button {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 10px;  
}
.stepnumber,.stepnumber2,.stepnumber3 {
  margin-top: 10px;
  color: #6C3B0D;
  background-color: #F2E0CF;
  border-radius: 20px;
  width: 85px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepnumber2 {
background-color: #DDCFBB;
color: #553829;
margin-left: 10px;
}
.stepnumber3 {
  background-color: #D1D3B9;
  color: #394B33;
}
.edutype,.edutype-symptoms {
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.edutype {
  line-height: 1.7;
}
.edutype-symptoms {
  position: relative;
  top: 170px;
  font-size: 18px;
  font-weight: bold;
}
.edutype-symptoms-hide {
  visibility: hidden;
}
.edutype-description {
  visibility: hidden;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.edutype-description-show {
  visibility: visible;
  transition: 0.3s ease-out;

}
.almamater,.almamater4 {
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 75px;
}
.almamater4 {
  padding-inline: 5px;
}
.box,.boxLast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 320px;
  height: 292px;
  
}
/* code for borders */

.boxes {
  --spacing: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  margin-inline: auto;
  gap: var(--spacing);
  padding-top: 30px;
}
.symptoms-boxes-noborder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-left: 30px;
  gap: 15px;
}
.symptoms-box-noborder {
 width: 310px;
 height: 282px;
 position: relative;
}
.horizontal-symptoms-top {
position: absolute;
top: -7px;
}
.horizontal-symptoms-bottom {
  position: absolute;
  bottom: -7px;
}
.vertical-symptoms-left {
  position: absolute;
  left: -7px;
  top: 5px;
  
}
.vertical-symptoms-right {
  position: absolute;
  right: -7px;
  top: 5px
}

.boxes .box {
  position: relative;
}

.boxes .box::before, .boxes .box::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxes .box::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
  border-bottom: 1px solid currentColor;
}
.boxes .box::after {
  inset: var(--spacing) 0;
  border-inline: 1px solid currentColor;
}


.boxes .boxLast {
  position: relative;
}

.boxes .boxLast::before, .boxes .boxLast::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxes .boxLast::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
 
}
.boxes .boxLast::after {
  inset: var(--spacing) 0;
  border-inline: 1px solid currentColor;
}

/* code for borders ends */


.ten-block {
  margin-top: 100px;
  background-color: #FDFAF0;
  box-sizing: border-box;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 47.5px;
  font-weight: bold;
}

.whole-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;

}
.contact-heading {
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}
.contact-input {
  margin-top: 5px;
}

input, select, textarea {
  width: 327px;
  height: 46px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  border-style: solid;
  background-color: #FDFAF0;
  font-family: "onest", sans-serif;
}
select {
  width: 345px;
  height: 55px;
}
.checkbox-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}
 .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border-style: solid;
  background-color: #FDFAF0;
}


.princeps-slider::-webkit-scrollbar {
  display: none;
}

.princeps-slider {
  height: 285px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  scroll-snap-type: x mandatory;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-shadow: 0px 0px 80px #f3c9ff2e;
  border-radius: 10px;
}
.princeps-heading {
  display: flex;
  justify-content: baseline;
  align-items: center;
  text-align: center;
}
.princeps-work {
  padding-left: 25px;
  font-size: 30px;
  font-weight: bold;
  color: #272727;
  text-align: left;
}
.princeps-ball {
  position: relative;
  top: -10px;
  right: -10px;
}

.princep {
  padding-left: 25px;
}
.princep-type {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-top: 30px;
  gap: 5px;
  border-bottom: #000000 solid 1px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.princep-content {
  padding-top: 10px;
  width: 264px;
  height: 164px;
}
.symptoms-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  position: relative;
  right: 50px;
}
.symptoms-ball {
  position: relative;
  top: -30px;
  right: 15px;
}

.almamater2 {
  margin-top: 20px;
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  font-weight: bold;
  font-size: 18px;
  left: 10px;
  
}
.almamater2-show {
  visibility: visible;
}

.session-heading {
  display: flex;
  justify-content: baseline;
  align-items: center;
  text-align: left;
  padding-left: 20px;
}
.session-work {
  font-weight: bold;
  font-size: 30px;
}
.session-ball {
  position: relative;
  top: -10px;
  right: -20px;
}

/*Code for SESSION borders*/
.boxesS {
  --spacing: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  margin-inline: auto;
  gap: var(--spacing);
  padding-top: 30px;
}

.boxesS .boxS {
  position: relative;
}

.boxesS .boxS::before, .boxesS .boxS::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxesS .boxS::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
  border-bottom: 1px solid currentColor;
}
.boxesS .boxS::after {
  inset: var(--spacing) 0;
  border-left: 1px solid currentColor;
}
.boxS, .boxSLast {
  padding-left: 15px;
  padding-bottom: 10px;
}

.boxesS .boxSLast {
  position: relative;
}

.boxesS .boxSLast::before, .boxesS .boxSLast::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxesS .boxSLast::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);

 
}
.boxesS .boxSLast::after {
  inset: var(--spacing) 0;
  border-left: 1px solid currentColor;
}
/*Code for SESSION borders end*/

.services-heading,.faq-heading {
  display: flex;
  justify-content: baseline;
  align-items: center;
  text-align: left;
}
.services-work,.faq-work {
  font-weight: bold;
  font-size: 30px;
  padding-left: 20px;
}
.services-ball,.faq-ball {
  padding-left: 20px;
}

.faq-heading {
  padding-top: 20px;
}


/*Code for SERVICES borders*/
/*
.boxesSE {
  --spacing: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  margin-inline: auto;
  gap: var(--spacing);
  padding-top: 30px;
}
.boxSE,.boxSE2,.boxSE3 {
  background-color: #ECE8DE;

}
.boxesSE .boxSE {
  position: relative;
}

.boxesSE .boxSE::before, .boxesSE .boxSE::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxesSE .boxSE2 {
  position: relative;
}

.boxesSE .boxSE2::before, .boxesSE .boxSE2::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxesSE .boxSE3 {
  position: relative;
}

.boxesSE .boxSE3::before, .boxesSE .boxSE3::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxesSE .boxSE::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
  border-bottom: 1px solid currentColor;
}
.boxesSE .boxSE::after {
  inset: var(--spacing) 0;
  border-right: 1px solid currentColor;
}
.boxesSE .boxSE2::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
  border-bottom: 1px solid currentColor;
}
.boxesSE .boxSE2::after {
  inset: var(--spacing) 0;
  border-left: 1px solid currentColor;
}
.boxesSE .boxSE3::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);

}
.boxesSE .boxSE3::after {
  inset: var(--spacing) 0;
  border-right: 1px solid currentColor;
}
*/
.boxesSE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.services-heading {
  padding-bottom: 15px;
}
.boxSE,.boxSE2,.boxSE3 {
  padding-left: 10px;
  width: 310px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}




/*Code for SERVICES borders end*/
.edutype3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 25px;
}
.service-description {
  margin-top: 15px;
  font-size: 16px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.service-description-duration {
  margin-top: 10px;
  color: #D1D3B9;
}
.almamater3 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #272727;
}
.almamater33 {
  font-size: 16px;
}

.review-heading {
  display: flex;
  justify-content: baseline;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  height: 50px;
}
.review-work {
  font-weight: bold;
  font-size: 30px;
}
.review-ball {
  padding-left: 10px;
}

.review-accordion {
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.accordion-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #272727 1px solid;
  width: 327px;
  height: 40px;

}
/*
.accordion-heading-hide {
  display: none;

}
*/

.accordion-inside {
  visibility: hidden;
  color: #FDFAF0;
  font-weight: 400;
  background-color: #496141;
  border-radius: 15px;
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-rows: 130px 40px;
  margin-top: 10px;
  max-width: 0;
  max-height: 0;
  transition: 0.3s linear;
 
}
.accordion-upside {
  display: none;
  visibility: hidden;
  color: #D1D3B9;
  flex-direction: row;
  justify-content: space-between;
  border-top: #D1D3B9 1px solid;
  padding-top: 5px;
  max-width: 0;
  max-height: 0;
  transition: 0.3s linear;

}

.inside-show {
  display: grid;
  max-width: 350px;
  max-height: 350px;
  transition: 0.3s linear;
  visibility: visible;
}
.upside-show {
  display: flex;
  visibility: visible;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
  max-height: 350px;
}
.heading-hide {
  max-width: 0;
  max-height: 0;
  transition: 0.3s linear;
  display: none;
}
/*
.accordion-inside-show,.accordion-upside-show {

transition: 0.3s ease-out;

}
.accordion-inside-show {
display: grid;
}
.accordion-upside-show {
  display: flex;
}
*/
.faq-accordion {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.faq-accordion-faq {
  margin-top: 10px;
}
.faq-accordion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  opacity: 1;
  width: 327px;
  height: 40px;
  font-weight: 500;
  border-bottom: #272727;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.faq-accordion-inside {
  display: none;
  color: #FDFAF0;
  background-color: #496141;
  width: 327px;
  height: 40px;
  z-index: 100;
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.div-for-padding2 {
  display: none;
 
}
.div-for-padding2-show {
  display: block;
  padding-bottom: 100px;
}
.rational {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
}

.rational1,.rational2,.rational3 {
  padding: 15px;
  border-radius: 20px;
  font-weight: 500;
}
.rational1 {
  background-color: #D1D3B9;
  color: #394B33;
  transform: rotate(-19deg);
}
.rational-ball1-img {
  position: absolute;
  right: 60px;
  top: 82px;
  width: 80px;
  height: 80px;
}
.rational2 {
  background-color: #DDCFBB;
  color: #553829;
  transform: rotate(2deg);
  position: absolute;
  top: 160px;
}
.rational-ball2-img {
  position: absolute;
  left: 15px;
  top: 268px;
  width: 93px;
  height: 93px;
}
.rational3 {
  background-color: #F2E0CF;
  color: #6C3B0D;
  transform: rotate(-17.7deg);
  position: absolute;
  top: 325px;

}
.rational-ball3-img {
  position: absolute;
  right: 10px;
  top: 390px;
  width: 70px;
  height: 70px;
}

.ending {
  margin-top: 500px;
  height: 700px;
}
/*Code for ending boxes */
.boxesEN {
  --spacing: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 350px;
  height: 300px;
  margin-inline: auto;
  gap: var(--spacing);
  padding-top: 30px;
}

.boxesEN .boxEN,.boxesEN .boxEND {
  position: relative;
}

.boxesEN .boxEN::before, .boxesEN .boxEN::after,.boxesEN .boxEND::before,.boxesEN .boxEND::after {
  pointer-events: none;
  position: absolute;
  content: "";
}
.boxesEN .boxEN::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
  border-top: 1px solid currentColor;
}
.boxesEN .boxEN::after {
  inset: var(--spacing) 0;
  border-right: 1px solid currentColor;
}
.boxEN,.boxEND {
  padding-left: 10px;
  padding-bottom: 10px;
}
.boxesEN .boxEND::before {
  inset: calc((var(--spacing) * -1) / 2) var(--spacing);
  border-top: 1px solid currentColor;
}

.boxesEN .boxEND::after {
  inset: var(--spacing) 0;
  border-right: none
}

/*Code for ending borders ends*/


.all-rights {
  margin-top: 20px;
  color: #858585;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}
.surnameEN {
  color: #272727;
  font-size: 14px;
  font-weight: bold;
}

.messenger,.confident {
  color: #272727;
  font-weight: 500;
  font-size: 12px;
}
.collab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxEN{
  padding:10px
}
.boxEN div, .boxEND div {
  padding-top: 20px;
}
.boxEND li {
  padding-top: 5px;
  color: #272727;
  font-weight: 500;
  font-size: 12px;
}
.serviceColorClass {
  opacity: 1;
  background-color: #496141;
  border-radius: 15px;
  color: #FDFAF0;
}
.eduColorClass {
  opacity: 1;
  background-color: #496141;
  border-radius: 15px;
  color: #FDFAF0;

}

.faq-accordion-js {
  cursor: pointer;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  width: 327px;
  height: 40px;
  font-weight: 500;
  border-bottom: #272727;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 10px;
}



.faq-panel {
  display: none;
  flex-direction: column;
  transition: max-height 0.2s ease-out;
  color: #394B33;
  background-color: #D1D3B9;
  border-radius: 15px;
  width: 330px;
  padding-inline: 10px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 10px;
}
.faq-inside-head {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  padding-bottom: 20px;
  font-weight: 500;
}

.eleven-block {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-plus-button {
  padding-top: 10px;
}
.div-for-padding {
  display: none;
  padding-bottom: 50px;
  border-bottom-color: #272727;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.seventh-block {
  padding-bottom: 150px;

}
.horizontal-services1 {
  position: absolute;
  bottom: -10px;
}
.vertical-services1 {
  position: absolute;
  right: -10px;
  top: 0px;
}

.horizontal-services2 {
  position: absolute;
  bottom: -10px;
 
}
.vertical-services2 {
  position: absolute;
  left: -10px;
  top: 0px;
}

.vertical-services3 {
  position: absolute;
  right: -10px;
}


a {
  text-decoration: none;
  color: #272727;
}
